/*RESET CSS*/
* {
  margin: 0;
  padding: 0;
}
body {
  /*background-color: #EFEAE4;*/
  background-image: url(../img/fondo-planisferio.png);
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxPrincipal {
  width: 25rem;
}